<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/categories.js"></script>
    <!-- Le styles -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="masthead">
        <div class="left">
          <h3 class="muted"><a href="http://localhost:8080">Shop</a></h3>
        </div>  
        <div class="right">
           <a id="mens" class="btn" href="http://localhost:8080/shop/mens">Mens</a>
           <a class="btn" href="http://localhost:8080/shop/womens">Womens</a>
          <% if(!session.user){ %>
          <h5 class="right"><a href="http://localhost:8080/loginPage">Login</a></h5>
          <h5 class="right"><a href="http://localhost:8080/signupPage">Sign up</a></h5>
          <% } else { %>
          <h5 class="right"><a href="http://localhost:8080/dashboard">My Account</a></h5>
          <h5 class="right"><a href="http://localhost:8080/logout">Logout</a></h5>
           <% }%> 
        </div>
      </div>
    </div>

      <div class="container row-fluid">
         
        <ul class="breadcrumb">
          <li><a href="http://localhost:8080">Shop</a></li>
            <% if (typeof categ == 'undefined'){ %>
          <li><%=id%></li>
         <% }else{ %>
          <li><a href="http://localhost:8080/shop/<%=id%>"><%=id%></a></li>
          <li><%=categ%></li>
         <% } %>
        </ul>    
        

        <div class="span4">
            <ol> 
                <li>
                    
                  <div>
                    <h1><%= title %></h1>
                    <p><%= page_description %></p>
                    <ol>
                        <% _.each(items.categories, function(subC) { %>
                        <hr>
                        <li>
                          <% if (subC.image) { %>
                          <div>
                            <img src="/images/<%= subC.image %>">
                          </div>
                          <% } %>
                          <p><%= subC.page_description %></p>                                
                          <a class="btn" href=<%=baseURL + subC.id%>>View products</a></p>
                        </li>
                        <% }); %>                    
                    </ol>
                  </div>    
                </li>
            </ol>
        </div>
        <div class="footer">
          <p>&copy; Copyright 2013 OSF Global Services</p>
        </div>

      </div> <!-- /container -->

  </body>
</html>
