<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/categories.js"></script>

    <!-- Le styles -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    
    </head>

  <body>
    <div class="container">
      <div class="masthead">
        <div class="left">
          <h3 class="muted"><a href="http://localhost:8080">Shop</a></h3>
          <span class="muted">My Wishlist</span>
        </div>  
        <div class="right">
           <a id="mens" class="btn" href="http://localhost:8080/shop/mens">Mens</a>
           <a class="btn" href="http://localhost:8080/shop/womens">Womens</a>
          <h5 class="right"><a href="http://localhost:8080/logout">Logout</a></h5>
        </div>
      </div>
    </div>
    
    <div class="span4">
        <% _.each(items, function(topC) { %>
        <div class="col-xs-6 col-sm-12 col-md-6 top prod">
            <h3><%= topC.name %></h3>
          <div class="col-xs-12 col-md-12 col-sm-12 product">  
            <div class="col-xs-2 col-lg-pull-1">
                <img class="img1" src="/images/<%= topC.image_groups[0].images[0].link %>">
            </div>
            <div class="col-xs-8 ol-md-8 col-lg-push-2 col-md-push-4 col-sm-push-2 ">    
              <p class = "parag"><%= topC.page_description %></p>
              <div class=" bottom col-xs-12 col-md-12 col-sm-12 ">
                <div class="left bottom">
                  <p>Price: <%= currency + topC.price %></p>
                </div> 
              </div>
            </div>
          </div>    
        </div>
        <% }); %>
    </div>
       
        
  
   
    <div class="col-xs-12 footer">
    <hr>
      <p>&copy; Copyright 2013 OSF Global Services</p>
    </div>

    </div> <!-- /container -->

  </body>
</html>
