

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="masthead">
        <div class="left">
          <h3 class="muted"><a href="http://localhost:8080">Shop</a></h3>
        </div>  
        <div class="right">
           <a id="mens" class="btn" href="http://localhost:8080/shop/mens">Mens</a>
           <a class="btn" href="http://localhost:8080/shop/womens">Womens</a>
          <% if(!session.user){ %>
          <h5 class="right"><a href="http://localhost:8080/loginPage">Login</a></h5>
          <h5 class="right"><a href="http://localhost:8080/signupPage">Sign up</a></h5>
          <% } else { %>
          <h5 class="right"><a href="http://localhost:8080/dashboard">My Account</a></h5>
          <h5 class="right"><a href="http://localhost:8080/logout">Logout</a></h5>
           <% }%> 
        </div>
      </div>
    </div>

    <div class="container container1 row-fluid">
        <div class="span4">
	        <ol>
	            <% _.each(items, function(topC) { %>
	            <li>
	                <h2><%= topC.name %></h1>
	                <p><%= topC.page_description %></p>
	                <% if (topC.image) { %>
	                <div>
	                    <img src="/images/<%= topC.image %>">
	                </div>
	                <% } %>
                  <a class="btn" href="http://localhost:8080/shop/<%=topC.id%>">View products</a></p>
	            </li>
	            <hr>	
	            <% }); %>
	        </ol>
        </div>
	    <div class="footer bottom1 ">
	    	<p>&copy; Copyright 2013 OSF Global Services</p>
	    </div>
    </div> <!-- /container -->

  </body>
</html>
