

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
     
    </head>

  <body>
    <div class="container">
      <div class="masthead">
        <div class="left">
          <h3 class="muted"><a href="http://localhost:8080">Shop</a></h3>
        </div>  
        <div class="right">
           <a id="mens" class="btn" href="http://localhost:8080/shop/mens">Mens</a>
           <a class="btn" href="http://localhost:8080/shop/womens">Womens</a>
          <% if(!session.user){ %>
          <h5 class="right"><a href="http://localhost:8080/loginPage">Login</a></h5>
          <h5 class="right"><a href="http://localhost:8080/signupPage">Sign up</a></h5>
          <% } else { %>
          <h5 class="right"><a href="http://localhost:8080/dashboard">My Account</a></h5>
          <h5 class="right"><a href="http://localhost:8080/logout">Logout</a></h5>
           <% }%> 
        </div>
      </div>
    </div>
      <hr>
    <h3>Sorry, the section "<strong><%=list%></strong>" contains no products at the moment!</h3>
    <br>
    <a class="btn" href=<%= baseURL%>>Return to section!</a>
       


      <div class="footer">
        <p>&copy; Copyright 2013 OSF Global Services</p>
      </div>

    </div> <!-- /container -->

  </body>
</html>
