<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/categories.js"></script>    
    <script src="/javascripts/jssor.slider-22.2.16.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      jssor_1_slider_init = function() {
          var jssor_1_options = {
            $AutoPlay: false,
            $ArrowNavigatorOptions: {
              $Class: $JssorArrowNavigator$
            },
            $ThumbnailNavigatorOptions: {
              $Class: $JssorThumbnailNavigator$,
              $Cols: 9,
              $SpacingX: 3,
              $SpacingY: 3,
              $Align: 260
            }
          };
          var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
      };
$(document).on('ready',function(){
    document.getElementById('USD').selected=true;
    $('#val').on('input', function() { 
      var usd=document.getElementById('USD').value;
      var e=document.getElementById('val');
      var crr = e.options[e.selectedIndex].value; // get the current value of the input field.
      var priceChanged= (<%=items.price%> * Number(usd) / Number(crr)).toFixed(2);
      var finalPrice = 'Price: ' + priceChanged;
        // console.log(<%=items.price%>);
        var elem = document.getElementById('valuePlace');
        elem.innerHTML =finalPrice;
    });
});
    </script>
    </head>

  <body>
    <div class="container">
      <div class="masthead">
        <div class="left">
          <h3 class="muted"><a href="http://localhost:8080">Shop</a></h3>
        </div>  
        <div class="right">
           <a id="mens" class="btn" href="http://localhost:8080/shop/mens">Mens</a>
           <a class="btn" href="http://localhost:8080/shop/womens">Womens</a>
          <% if(!session.user){ %>
          <h5 class="right"><a href="http://localhost:8080/loginPage">Login</a></h5>
          <h5 class="right"><a href="http://localhost:8080/signupPage">Sign up</a></h5>
          <% } else { %>
          <h5 class="right"><a href="http://localhost:8080/dashboard">My Account</a></h5>
          <h5 class="right"><a href="http://localhost:8080/logout">Logout</a></h5>
           <% }%> 
        </div>
      </div>
    </div>
       
    <div class="container container1 row-fluid">
      
      <ul class="breadcrumb">
        <li><a href="http://localhost:8080">Shop</a></li>
        <li><a href="http://localhost:8080/shop/<%=id%>"><%=id%></a></li>
        <li><a href="http://localhost:8080/shop/<%=id%>/<%=categ%>"><%=categ%></a></li>
        <li><a href="http://localhost:8080/shop/<%=id%>/<%=categ%>/<%=list%>"><%=list%></a></li>
        <li><%=product%></li>
      </ul>    
      <div class="col-xs-4 col-sm-4 col-md-4 top">
        
      <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;min-width:350px;height:350px;overflow:visible;visibility:hidden;">
          <!-- Loading Screen -->
          <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
              <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
          </div>
          <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;min-width:350px;height:350px;">
              <a data-u="any" href="http://www.jssor.com" style="display:none">Image Slider 2</a>
        
            <% _.each(items.image_groups, function(image){
              if (image.view_type == "large"){ 
                _.each(image.images, function(imageList){%>

              <div>
                  <img data-u="image" src="/images/<%=imageList.link%>" />
                  <img data-u="thumb" src="/images/<%=imageList.link%>" />
              </div>
            <%  });
              };
            }) %>
          </div>
          <!-- Thumbnail Navigator -->
          <div data-u="thumbnavigator" class="jssort03" style="position:absolute;left:0px;bottom:0px;min-width:35px;height:30px;" data-autocenter="1">
              <div style="position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;filter:alpha(opacity=30.0);opacity:0.3;"></div>
              <!-- Thumbnail Item Skin Begin -->
              <div data-u="slides" style="cursor: default;">
                  <div data-u="prototype" class="p">
                      <div class="w">
                          <div data-u="thumbnailtemplate" class="t"></div>
                      </div>
                      <div class="c"></div>
                  </div>
              </div>
              <!-- Thumbnail Item Skin End -->
          </div>
       </div>
        <script type="text/javascript">jssor_1_slider_init();</script> 
      </div>

      <div class="col-xs-8 col-sm-8 col-md-8 top center">
          <h3><%= items.name %></h3>
        <div class="col-xs-12 col-md-12 col-sm-12 product">  
            <%=items.short_description%>
        </div> 
        <% if(session.user){ %>
        <ul > 
        <li class="left1 wishBtn"><a href="http://localhost:8080/add/ <%= productID %>" >Add to wishlist</a></li>
        </li>
        <% } %>
        <div class="col-xs-12 col-md-12 col-sm-12 product bottom1 ">
            <div class=" bottom price">
              <p id='valuePlace'>Price:<%=items.price%></p>
            </div> 
            <select id='val' class="bottom currency" name="currency">
              <% _.each(currency, function(value){   %>
                <option id=<%= value[0]%> value= <%=value[1]%> > <%= value[0]%></option>
              <% }) %>

            </select>   
        </div>   
      </div>
    </div> <!-- /container -->
    <div class="footer">
      <p>&copy; Copyright 2013 OSF Global Services</p>
    </div>
  </body>
</html>
