body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
}
body {
padding-top: 0;
padding-bottom: 0;
min-height: 100vh;
}
.footer{
	border-top: 2px solid black;
	margin-bottom:0;
	text-align: right;
	width:100%;
}
/* Custom container */
.container {
margin: 0 auto;
max-width: 1200px;
border-bottom: 2px solid gray;
background-color: #F1F1F1;
margin: 0px 0;
}
.container1  {
	    min-height: 90vh;
}
.wishBtn{
	border:1px solid gray;
	padding:5px;
	border-radius:5px;
}
.wishBtn:visited{
	color:gray;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
padding: 0;
}
.navbar .nav {
margin: 0;
display: table;
width: 100%;
}
.navbar .nav li {
display: table-cell;
width: 1%;
float: none;
}
.navbar .nav li a {
font-weight: bold;
text-align: center;
border-left: 1px solid rgba(255,255,255,.75);
border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
border-left: 0;
border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
border-right: 0;
border-radius: 0 3px 3px 0;
}
.img1{
	height:200px;
	width:auto;
	border-radius:10px;

}
.parag{
	margin-top:10%;
}
.bottom{
	position:absolute;
	margin-top:10%;
}
.bottom1{
	position:absolute;
	margin-top:25%;
	width:88%;
}
.btn{
	border: 1px solid black;
	border-radius:20px;
	background-color:lightgray;
	margin:20px;
}
.right{
	float:right;
	margin-right: 40px;
	display: inline-block;
}
.top{
	margin-top:30px;
}
.left{
	float:left;
	display:inline-block;
}
.left1{
	position:absolute;
	right:80%;
	top:110%;
display:inline;
z-index: 100;
}
.product{
	height: 230px;
}
.prod:hover{
	background-color: lightgray;
}
.btn:hover{
	background-color: red;
	color: white;
}
.active-btn{
	background-color: red;
	color: white;
}
ol{
     list-style-type: none;
}
@media (min-width: 992px) {
	.parag{
		margin-left: 10px;
	}
}	
hr{
	border-color:gray;
}
.imgMin{
	height:50px;
	width:auto;
}
.center{
	text-align: center;
}
.price{
	display:inline-block;
	right:15%;
	top:7px;

}
.currency{
	display:inline-block;
	right: 1%;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
.none{
	display:none;
}
.jssora02l, .jssora02r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url('img/a02.png') no-repeat;
    overflow: visible;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02l.jssora02ldn { background-position: -3px -33px; }
.jssora02r.jssora02rdn { background-position: -63px -33px; }
.jssora02l.jssora02lds { background-position: -3px -33px; opacity: .3; pointer-events: none; }
.jssora02r.jssora02rds { background-position: -63px -33px; opacity: .3; pointer-events: none; }
/* jssor slider thumbnail navigator skin 03 css *//*.jssort03 .p            (normal).jssort03 .p:hover      (normal mouseover).jssort03 .pav          (active).jssort03 .pdn          (mousedown)*/.jssort03 .p {    position: absolute;    top: 0;    left: 0;    width: 30px;    height: 32px;}.jssort03 .t {    position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;    border: none;}.jssort03 .w, .jssort03 .pav:hover .w {    position: absolute;    width: 30px;    height: 30px;    border: white 1px dashed;    box-sizing: content-box;}.jssort03 .pdn .w, .jssort03 .pav .w {    border-style: solid;}.jssort03 .c {    position: absolute;    top: 0;    left: 0;    width: 62px;    height: 32px;    background-color: #000;    filter: alpha(opacity=45);    opacity: .45;    transition: opacity .6s;    -moz-transition: opacity .6s;    -webkit-transition: opacity .6s;    -o-transition: opacity .6s;}.jssort03 .p:hover .c, .jssort03 .pav .c {    filter: alpha(opacity=0);    opacity: 0;}.jssort03 .p:hover .c {    transition: none;    -moz-transition: none;    -webkit-transition: none;    -o-transition: none;}* html .jssort03 .w {    width /**/: 62px;    height /**/: 32px;}
